.studentbox {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.EnrolltitleContainer {
  width: 100%;
  height: 79%;
  background-color: rgb(235, 230, 230);
  position: fixed;
  box-shadow: 4px 4px 6px rgb(94, 91, 91);
  /* border-radius: 0px 0px 10px 10px; */
  border: 1px solid #888;
  z-index: -1;
}

.Enrolltitle {
  width: 100%;
  height: 6%;
  background-color: rgb(28, 134, 14);
  box-shadow: 4px 4px 6px rgb(94, 91, 91);
  color: white;
  position: fixed;
  display: flex;
  align-items: center;
  padding-left: 15px;
  font-size: 17px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.main2 {
  width: 85%;
  height: 85%;
  border: 1px solid black;
  margin-top: 46px;
  margin-left: 40px;
  padding: 10px;
}

input[type="text"] {
  width: 329px;
  height: 45px;
  padding-left: 10px;
  flex-direction: column;
  margin-bottom: 5px;
  font-size: 17px;
  outline: none;
}
